img {
  max-width: 100%;
  max-height: 100%;
}
.home-pic {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.p1 {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: top;
}
.container {
  padding: 80px 0 20px 0;
}
.col {
  margin: 20px 0 20px 0;
}
h1 {
  color: #0c4a9f;
}
p {
  font-size: 1.3rem;
}
.fa {
  font-size: 4rem;
  padding: 1rem;
}
